---
# tasks file for tomcat
- name: include assert.yml
  include_tasks: assert.yml
  run_once: yes

- name: loop over tomcat_instances
  include: instance.yml
  loop: "{{ tomcat_instances }}"
  loop_control:
    loop_control: "{{ instance.name }}"
    loop_var: instance
  when:
    - tomcat_instances is defined
