[Unit]
Description={{ item.name }}
After=syslog.target network.target

[Service]
Type=forking

Environment=CATALINA_PID={{ item.directory }}/{{ tomcat_archive[item.version]['dir'] }}/temp/tomcat.pid
Environment=CATALINA_HOME={{ item.directory }}/{{ tomcat_archive[item.version]['dir'] }}
Environment=CATALINA_BASE={{ item.directory }}/{{ tomcat_archive[item.version]['dir'] }}
Environment='CATALINA_OPTS=-Xms{{ item.xms}} -Xmx{{ item.xmx }} -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{ item.directory }}/{{ tomcat_archive[item.version]['dir'] }}/bin/startup.sh
ExecStop={{ item.directory }}/{{ tomcat_archive[item.version]['dir'] }}/bin/shutdown.sh

User={{ item.user }}
Group={{ item.group }}

[Install]
WantedBy=multi-user.target
