<?xml version='1.0' encoding='utf-8'?>
{{ ansible_managed | comment('xml') }}
<tomcat-users xmlns="http://tomcat.apache.org/xml"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://tomcat.apache.org/xml tomcat-users.xsd"
              version="1.0">

{% if item.roles is defined %}
{% for role in item.roles %}
  <role rolename="{{ role }}"/>
{% endfor %}
{% endif %}

{% if item.users is defined %}
{% for user in item.users %}
  <user username="{{ user.name }}" password="{{ user.password }}" roles="{{ user.roles | join(',') }}"/>
{% endfor %}
{% endif %}

</tomcat-users>
